body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
}
h1 {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
h2 {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
}
main {
  width: 1200px;
  margin: 0 auto;
}
header {
  height: 56px;
}
ul{
  margin: 0px;
  padding: 0;
  list-style-type: none;
}
header li {
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
  padding-bottom: 21px;
  width: 240px;
  text-align: center;
}
header li:nth-child(3) {
  padding-top: 0px;
  padding-bottom: 0px;
}
.head-pic {
  width: 1200px;
  height: 432px;
  padding-top: 76px;
  background: url("../img/main-picture.jpg") no-repeat;
  background-size: cover;
}
.head-pic > img {
  display: block;
  margin: 0 auto;
  width: 458px;
}
.layer {
  margin-top: 23px;
}
.head-caption {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 57px;
}
.box {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 400px;
}
.box-white {
  padding-top: 60px;
  padding-bottom: 78px;
  background-color: white;
}
.box-blue {
  padding-top: 36px;
  color: white;
}
.box-grey {
  padding-top: 30px;
  padding-bottom: 57px;
  background-color: #eeeeee;
}
.box-wide {
  display: inline-block;
}
.box-wide img {
  width: 800px;
  height: 256px;
}
.tips, .benefits  {
  margin-top: -5px;
}
.real-town, .devil-bridge {
  background-color: #81b3d2;
}
.real-town h2,
.devil-bridge h2,
.main-block h2 {
    color: white;
}
.interest {
  padding-top: 35px;
  text-align: center;
  background-color:;
}
.hotels-search {
  widht: 568px;
}
.body-form {
  display: none;
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 56px;
  padding-right: 56px;
  width: 568px;
  height: 395px;
  margin: 0 auto;
}
.bottom-form {
  display: none;
  width: 350px;
  height: 58px;
  margin: 0 auto;
}
.interest a {
  display: inline-block;
  width: 568px;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #766357;
}
.map{
  height: 593px;
  background: url("../img/map.jpg") no-repeat;
}
.map iframe{
  border: 0;
  width: 1200px;
  height: 100%;
}
footer {
  height: 120px;
  text-align: center;
  background-color: white;
}
.main-footer {
  position: absolute;
  margin-top: -120px;
}
.inner-footer {
  margin-top: -6px;
}
.hash, .social-btn {
  float: left;
  padding-top: 49px;
  width: 400px;
}
.made-by {
  float: right;
  padding-top: 49px;
  width: 400px;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}




/*=======================Sedona-inner =====================*/
.main-form {
  width: 1200px;
  min-height: 217px;
  background: url("../img/filter-background.jpg");
}
.structure, .type-accomodation, .range {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 32px;
}
.structure {
  margin-left: 73px;
}
.type-accomodation {
  margin-left: 110px;
}
.range {
  margin-left: 350px;
}
.structure label,
.type-accomodation label {
  display: block;
}
.found-form {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 1056px;
}
.found, .sort, .triangles {
  display: inline-block;
}
.sort ul {
  display: inline-block;
}
.sort ul li,
.triangles ul li {
  display: inline-block;
}
.found {
  width: 165px;
}
.sort {
  width: 780px;
}
.triangles {
  width: 111px;
  text-align: right;
}
.index-block {
  margin: 0 auto;
  width: 1056px;
}
.index-block:nth-child(3n+2),
.index-block:nth-child(3n+3) {
  margin-top: -6px;
}
.photo {
  display: inline-block;
  text-align: left;
  width: 165px;
}
.photo img {
  padding-top: 31px;
  padding-bottom: 31px;
  width: 135px;
  height: 90px;
}
.name-block {
  display: inline-block;
  margin-top: 31px;
  vertical-align: top;
  width: 780px;
}
.name-block h2 {
  margin: 0px;
}
.type, .min-cost {
  display: inline-block;
  margin-top: -10px;
}
.raiting-block {
  display: inline-block;
  margin-top: 30px;
  width: 111px;
  text-align: right;
}
